<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>아이템 수정</title></head>
<body>
<h2>아이템 수정</h2>

<form th:action="@{/item/sujungProc}" method="post">
  <input type="hidden" name="itemId" th:value="${item.itemId}" />
  <label>이름: <input type="text" name="itemName" th:value="${item.itemName}" required></label><br>
  <label>설명: <input type="text" name="itemDescription" th:value="${item.itemDescription}" required></label><br>
  <label>가격: <input type="number" name="price" th:value="${item.price}" required></label><br>
  <label>이미지 경로: <input type="text" name="itemImage" th:value="${item.itemImage}"></label><br>
  <button type="submit">수정</button>
</form>

<a href="/item/admin">← 목록으로</a>
</body>
</html>
