<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모든 게시글</title>
</head>
<body>
<h1>모든 게시글 목록</h1>


<div>
  <a th:href="@{/post/postAdmin}" th:classappend="${selectedCategoryName == null} ? 'active' : ''">전체보기</a> |
  <a th:href="@{/post/{categoryName}(categoryName='공지사항')}" th:classappend="${selectedCategoryName == '공지사항'} ? 'active' : ''">공지사항</a> |
  <a th:href="@{/post/{categoryName}(categoryName='커뮤니티')}" th:classappend="${selectedCategoryName == '커뮤니티'} ? 'active' : ''">커뮤니티</a> |
  <a th:href="@{/post/{categoryName}(categoryName='문의사항')}" th:classappend="${selectedCategoryName == '문의사항'} ? 'active' : ''">문의사항</a>
</div>

<form action="/post" method="post">
  <table>
    <thead>
    <tr>
      <th>번호</th>
      <th>카테고리</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${list}">
      <td th:text="${post.postId}"></td>
      <td th:text="${post.category.categoryName}"></td>
      <td><a th:href="@{/post/view/{id}(id=${post.postId})}" th:text="${post.title}"></a></td>
      <td th:text="${post.userNo}"></td>
      <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd')}"></td>
    </tr>
    </tbody>
  </table>

</form>

<div>
    <a th:href="@{/post/{categoryName}/chuga(categoryName=${selectedCategoryName})}">
      <button type="button">작성하기</button>
    </a>
  
</div>

</body>
</html>