<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 삭제</title>
</head>
<body>
<form action="/post/sakjeProc" method="post">

  <table>
    <thead>
    <tr>
      <th>선택</th>
      <th>게시글 제목</th>
      <th>작성자</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${list}">
      <td>
        <input type="checkbox" name="postIds" th:value="${post.postId}" />
      </td>
      <td th:text="${post.title}">게시글 제목</td>
      <td th:text="${post.userName}">작성자</td>
      <td th:text="${post.createDate}">작성일</td>
    </tr>
    </tbody>
  </table>

  <button type="submit">선택한 게시글 삭제</button>
</form>

</body>
</html>