<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문장 목록 관리</title>
</head>
<body>
<h1>문장 목록 관리</h1>
<table>
    <thead>
    <tr>
        <th>순번</th>
        <th>문장</th>
        <th>의미</th>
        <th>등록일</th>
        <th>관리</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${dtoList == null || dtoList.size <= 0}">
        <td colspan="4" rowspan="2">
            문장 데이터가 존재하지 않습니다.
        </td>
    </tr>
    <tr th:each="sentence, loop : ${dtoList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${sentence.munjang.replace('^',' ')}"></td>
        <td th:text="${sentence.description}"></td>
        <td th:text="${#temporals.format(sentence.createDate, 'yyyy-MM-dd')}"></td>
        <td>
            <a th:href="@{'/study/sentenceSujung/' + ${sentence.sentenceId}}">수정</a>
            <button type="button" th:onclick="'event.stopPropagation(); confirmDelete(' + ${sentence.sentenceId} + ');'">삭제</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>