<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>단어 목록 관리</title>
</head>
<body>
<h1>단어 목록 관리</h1>
<a th:href="@{'/study/vocaInsert'}">문장 추가</a>
<table>
  <thead>
  <tr>
    <th>순번</th>
    <th>단어</th>
    <th>의미</th>
    <th>등록일</th>
    <th>관리</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${dtoList == null || dtoList.size <= 0}">
    <td colspan="4" rowspan="2">
      문장 데이터가 존재하지 않습니다.
    </td>
  </tr>
  <tr th:each="voca, loop : ${dtoList}">
    <td th:text="${loop.count}"></td>
    <td th:text="${voca.vocabulary}"></td>
    <td th:text="${voca.description}"></td>
    <td th:text="${#temporals.format(voca.createDate, 'yyyy-MM-dd')}"></td>
    <td>
      <a th:href="@{'/study/vocaUpdate/' + ${voca.vocaId}}">수정</a>
      <button type="button" class="btn-delete" th:onclick="'event.stopPropagation(); confirmDelete(' + ${voca.vocaId} + ');'">삭제</button>
    </td>
  </tr>
  </tbody>
</table>

<script>
  function confirmDelete(vocaId) {
    if (confirm('정말 이 자료를 삭제하시겠습니까?')) {
      window.location.href = '/study/vocaDelete/' + vocaId;
    }
  }

  function goToDetail(row) {
    const url = row.getAttribute('data-url');
    if (url) {
      window.location.href = url;
    }
  }
</script>
</body>
</html>